body {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sub-container {
    border: 1px solid black;
    background-color: rgb(232, 232, 232);
}

p {
    text-align: center;
}

.today {
    color: green;
}

.selected {
    color: aqua;
}

.days {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    text-align: center;
    background-color: rgb(208, 198, 198);

}

.sub-day {
    background-color: aqua;
    padding: 7px 10px;
    text-align: center;
}