* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#banner {
  background: url(Home/Header\ Image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.logo {
  margin-top: 20px;
  width: 5%;
}

nav ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  line-height: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.banner-text {
  /* background-color: black; */
  height: 550px;
}

.banner-text h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
}

.banner-text p {
  text-align: center;
  color: #fff;
  text-align: center;
  padding-top: 400px;
}

.banner-text p a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(237, 213, 78);
  padding: 10px 40px;
}

/* ----------Menu---------- */

#menu {
  padding-top: 70px;
  padding-bottom: 100px;
}

.menu-header {
  width: 53%;
  margin: 0 auto;
}

.menu-header h1 {
  font-size: 40px;
}

.menu-header p {
  margin-top: 40px;
}

.menu-list {
  /* background: red; */
  padding-top: 30px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.list-item {
  width: 220px;
  height: 400px;
  position: relative;
  margin: 20px 10px;
  /* background-color: blue; */
}
.list-item img {
  width: 220px;
  height: 400px;
  object-fit: cover;
  z-index: -1;
  opacity: inherit;
}

.list-item p {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 2;
  width: 100%;
}

.overlay-image {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.menu-footer {
  width: 55%;
  margin: 0 auto;
}

.menu-footer h1 {
  font-size: 40px;
  width: 600px;
  margin: 0 auto;
}

.menu-footer p {
  margin-top: 40px;
  width: 735px;
}

.btn-contact {
  margin-top: 50px;
}

.btn-contact a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(237, 213, 78);
  padding: 10px 40px;
}

/* ----------Health---------- */
#health {
  padding-top: 70px;
  padding-bottom: 100px;
  background: #efefef;
}

#health h1 {
  font-size: 40px;
}

.list-benefits {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50px auto 0;
}

.img-benefit {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-item p {
  text-align: center;
}

/* -----BLOG----- */

#blog {
  padding: 100px 0;
}

.sub-blog {
  display: flex;
  justify-content: center;
}

.blog-content {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-content img {
  width: 350px;
  height: 450px;
}

.content-desc {
  width: 300px;
  height: 450px;
  text-align: start;
}

.desc-blog {
  margin-top: 20px;
}

.desc-title {
  font-size: 30px;
}

.desc-date {
  margin-top: 5px;
  font-size: 12px;
}

.desc-desc {
  margin-top: 20px;
  font-size: 17px;
}

.desc-click {
  margin-top: 20px;
  font-weight: bold;
}

.desc-click a {
  text-decoration: none;
  color: black;
}


/* ---------FOOTER--------- */

#footer {
  padding: 50px 0;
  background: rgb(22, 22, 22);
}

.footer-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footer-info {
  text-align: start;
  color: rgb(220, 220, 220);
}

.footer-medsos {
  margin-top: 20px;
}

.fa-facebook-square {
  margin-left: 5px;
}

.send-info {
  text-align: start;
}

.send-info p {
  color: rgb(220, 220, 220);
}

.form-info {
  margin-top: 10px;
  display: flex;
}

.input-info {
  background: rgb(22, 22, 22);
  color: rgb(220, 220, 220);
  height: 21px;
  padding: 5px 20px;
  border: 0.5px solid rgb(220, 220, 220);
  font-size: 10px;
}

.btn-submit-info {
  height: 33px;
  border: 1px solid rgb(237, 213, 78);
  margin-left: -5px;
  padding: 5px 20px;
  font-size: 10px;
  background-color: rgb(237, 213, 78);
}


















